a, a:link {
  color: #;
}
.showcase .entry-content {
  color: #;
}
.showcase h2.entry-title a {
  color: #;
}
.entry-title {
  font-family: arial;
  color: #;
}
.entry-title a, .entry-title a:visited, .entry-title a:link {
  font-family: arial;
  color: #;
}
.single .entry-title {
  font-family: arial;
  color: #;
}
h2.singleheaders {
  font-family: arial;
  color: #;
}
.entry-content { font-family: arial; }
.entry-content h1 {color: #;}
.entry-content h2 {color: #;}
.entry-content h3 {color: #;}

.dropdown-categories a:focus,
.dropdown-categories a:hover,
.dropdown-categories a:active,
.dropdown-categories li li a:hover,
.dropdown-categories li:hover,
.dropdown-categories li.sfHover,
.dropdown-categories a:focus,
.dropdown-categories a:hover,
.dropdown-categories a:active {
	color: #;
}
.dropdown-pages a:focus,
.dropdown-pages a:hover,
.dropdown-pages a:active,
.dropdown-pages li li a:hover,
.dropdown-pages li:hover,
.dropdown-pages li.sfHover,
.dropdown-pages a:focus,
.dropdown-pages a:hover,
.dropdown-pages a:active {
	color: #;
}