@charset "utf-8";
/* CSS Document */

html, body{
	margin: 0 auto;
	padding: 0;
	background: #FFF;
	font-family: Arial, Tahoma, Helvetica, sans-serif;
	font-size: 14px;
	font-style:normal;	
}

.clear{
	clear:both;
	height:0;
	margin:0;
}

a,
a:link,
a:visited,
a:active{
	color: #0033CC;
	text-decoration: none;
}

a:hover{
	color: #000;
	text-decoration: none;
}

#Main{
	margin: 0 auto;
	width: 1000px;
}

#Main .Head{
	margin: 0;
	padding: 0;
	height: 105px;
}

#Main .Head .webLogo{
	float: left;
	margin: 18px 0 0 10px;
	padding: 0;
	width: 180px; height: 50px;
}

#Main .Head .region_other{
	float: left;
	margin: 20px 0 0 80px;
	padding: 0;
	width: 375px; height: 50px;
}


#Main .Head .head_right{
	float: right;
	width: 190px;
        text-align: left;
}

.head_right .linkhead{
	width: 153px; height: 28px;
	float: right;
	background: #FFF url(../images/headlink_bg.png);
        text-align: left;
}

.head_right .linkhead ul{
	list-style: none;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal; font-weight: bold;
	margin: 7px 0 0 2px; padding:0; float: left;
	text-align:left;
}

.head_right .linkhead ul li{
	float: left;
	display:inline;
	padding: 0 10px;
	border-right: 1px #E1E1E1 solid;
        text-align:left;
}


.head_right .linkhead ul li a,
.head_right .linkhead ul li a:link,
.head_right .linkhead ul li a:visited,
.head_right .linkhead ul li a:active{
	/*color: #663300;*/
	text-decoration:none;
	border-bottom: 1px #AAA dotted;
}

.head_right .linkhead ul li a:hover{
	color: #000;
	border-bottom: 1px #000 dotted;
	text-decoration:none;
}

.head_right .linkhead .last{
	border:0;
}


.head_right .search_code{
	width: 278px; height: 20px;
	float: right;
	position: relative;
	top: 15px;
	border: 1px #663300 solid;
	background-color: #FFF;
	padding: 0; margin: 0;
}

.head_right .search_code input{
	border: 0;
	background-color: #FFF;
	height: 16px;#height: 11px;	
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px; font-weight: bold;
	font-style: normal;
	color:#555;
	width: 168px;margin: 0; padding:2px 5px 0 5px; #padding-bottom: 3px;
	top: 0; right: 0; 
}

.head_right .search_code span{
	float: right; 
	position:absolute;
	top: 0; left: 258px;
}

#Main .Menu{
	margin:0;
	padding: 0;
	height: 35px;
	background: #FFF url(../images/bg_menu.png);
}



#Main .Menu .language{
	margin-top: 10px;
	padding: 0;
	float: right;
}

.language ul{
	list-style: none;
	float: right;
	margin:0;
	padding:0;
}

.language ul li{
	display:inline;
	float: left;
	padding-left: 10px ;	
}

#Main .Menu .date_time{
	float: right;
	margin-left: 5px;
	font-size: 12px;
	font-weight: bold;
	color:#555;
	padding-top: 10px;
}

#Main .Content{
	margin: 10px 0 0 0;
	padding: 0;
        background-color:#FFF;
}

#Main .Content .Left{
	float:left;
	width: 710px;
	margin: 0;
	padding: 0;
	/*border: 1px #AAA solid;*/
}

.Left .banner_flash{
	margin: 0;
	padding: 0;
	float: left;
	width: 708px; height: 150px;
}

.Left .news_highlight{
	margin: 0;
	padding-left: 10px;
	float: left;
	width: 710px; height: 30px;
	line-height: 30px;
	background: #FFF url(../images/newshighlight_bg.png) no-repeat;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px; font-weight: bold;
	font-style: normal;
	color:#000;
}

div.report a:hover{
	text-decoration: none;
	color: #000;
}

.Left div.market{
	height: 255px;
}

.Left div.market img{
	margin-left: 50px;
	margin-top: -7px; #margin-top: 6px;
	margin-bottom: 10px; #margin-bottom: 8px;
}

div.market .item .change_percent{
	float: right;
	width: 50px;
	text-align: right;
}

.Left div.topten{
	height: 255px;
}

.home_table{
	margin-top: -8px; #padding-top: 8px;
	color: #000;
}

.home_table tr.header td{
	font-size: 11px;
	padding-bottom: 5px;
	border-bottom: 1px #AAA dotted;
	color: #555;
}

.home_table tr.line0 td{
	background-color: #FFF;
	padding: 2px 0 3px 0;
}

.home_table tr.line1 td{
	background-color: #f1f1f1;
	padding: 2px 0 3px 0;
}

.home_table tr.header td.right,
.home_table tr.line0 td.right,
.home_table tr.line1 td.right{
	text-align: right;
	padding-right: 5px;
}

.home_table tr.header td.code,
.home_table tr.line0 td.code,
.home_table tr.line1 td.code{
	text-align: left;
	padding-left: 10px;
}

.increase{
	color:#009900;
}

.decrease{
	color:#FF0000;
}

.normal{
	color:#D9AF28;
}

.Left div.events{
	height: 275px;
}

div.block h3{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px; font-weight: bold;
	font-style: normal;
	color:#000;
	border: 1px #FFF solid;
	border-width: 1px 1px 0px 1px;
	background: #FFF url(../images/block_bg.gif) repeat-x;
	height: 24px; line-height: 23px;
	margin:0;
	padding-left: 10px;
}

div.block_content{
	margin:0;
	border-top: 1px #AAA solid;
}

div.block_tab{
	border: 1px #FFF solid;
	border-width: 1px 1px 0px 1px; 
	background: #FFF url(../images/block_bg.gif) repeat-x;
	height: 24px; line-height: 23px;
	margin:0;
	padding:0;
}

.Left .block_left{
	margin-right: 10px;
	
}

.Left .news_normal{
	margin-top: 10px;
	padding: 0;
	float: left;
	width: 708px;
	border: 1px #E0E0E0 solid;
	clear: both;
}


#Main .Content .Right{
	float: right;
	width: 280px;
	margin: 0;
	padding: 0;
	border: 1px #AAA solid;
}

.banner_link{
	height: 40px;
	background: #FFF url(../images/banner_bg.gif) no-repeat;
	padding-left: 35px; padding-top: 8px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal; font-weight: bold;
	color: #FFF;
	text-shadow: #000 2px 2px 3px;
}

.banner_link a:link,
.banner_link a:visited,
.banner_link a:active{
	color: #FFF;
	text-decoration: none;
}

.banner_link a:hover{
	color: #66cc33;
	text-decoration: none;
	text-shadow: #000 1px 1px 1px;
}

#Main .Foot_first{
	margin: 0;
	padding: 0;
	height: 15px;
	border-bottom: 1px #FFF solid;
	background: #FFF url(../images/foot_first.gif) repeat-x;
}

#Main .Foot_second{
	margin: 0;
	padding: 0;
	height: 65px;
	background: #FFF url(../images/foot_bg.png) repeat-x;
}

#Main .Foot_second .copyright{
	float: left;
	margin: 5px 10px;
	line-height: 160%;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #FFF;
}



a.linkfoot_text,
a.linkfoot_text:link
a.linkfoot_text:visited
a.linkfoot_text:active{
	font-weight: bold;
	color: #FFF;
	text-decoration:none;
	border-bottom: 1px #999 dotted;
}

a.linkfoot_text:hover{
	border-bottom: 1px #FFF dotted;
}

#Main .Foot_second .foot_right{
	float: right;
	width: 300px;
}

.foot_right .search_all{
	width: 278px; height: 20px;
	float: right;
	position: relative;
	top: 10px;
	background-color: #FFF;
	border-width: 1px;
	border-style: solid;
	border-color: #000 #bac7da #bac7da #000 ;
	padding: 0;
	margin-right: 10px;
}

.foot_right .search_all input{
	border: 0;
	background-color: #FFF;
	height: 16px;#height: 11px;	
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color:#000;
	width: 168px;margin: 0; padding:2px 5px 0 5px; #padding-bottom: 3px;
	top: 0; right: 0; 
}

.foot_right .search_all span{
	float: right; 
	position:absolute;
	top: 0; left: 258px;
}

.foot_right .linkfoot{
	text-align: right;
	margin-top: 35px;
}

.foot_right .linkfoot ul{
	list-style: none;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal; font-weight: bold;
	margin: 7px 0 0 2px; padding:0; float: right;
	text-align:right;
}

.foot_right .linkfoot ul li{
	float: left;
	display:inline;
	padding: 0 10px;
	border-right: 1px #E1E1E1 solid;
}

.foot_right .linkfoot ul li.last{
	border:0;
}


.tablink {
	padding-left:5px;
	margin-top:4px;
	list-style:none;
	height:21px;
	position:relative;
}

.tablink_right_top10{
	float:right;
	padding-right: 5px;
	#padding-left: 5px;
	#position:absolute;
	#margin-top:1px; #margin-left: 12px!important;
}

.tablink_right_market{
	float:right;
	padding-right: 5px;
	#padding-left: 37px;
	#position:absolute;
	#margin-top:1px; #margin-left: 12px!important;
}

.tablink_left{
	#margin-left: 0px;
} 

.tablink li {
	float:left;
	margin-left: 5px;
}
.tablink li a {
	display:block;
	float:left;
	height:21px;
	line-height:21px;
	background:url(../images/tab0.png);
	color:#555;
	text-decoration:none;
	font-size:11px;
	font-family:Tahoma, arial, verdana, sans-serif;
	font-weight:bold;
	text-align:center;
	padding:0 0 0 10px;
	cursor:pointer;
}
.tablink li a b {
	float:left;
	display:block;
	padding:0 12px 0 2px;
	background:url(../images/tab0.png) right top;
}
.tablink li.current a {
	color:#006600;
	background:url(../images/tab2.png);
}
.tablink li.current a b {
	background:url(../images/tab2.png) right top;
}
.tablink li a:hover {
	color:#FFF;
	background:url(../images/tab1.png);
}
.tablink li a:hover b {
	background:url(../images/tab1.png) right top;
}
.tablink li.current a:hover {
	color:#006600;
	background:url(../images/tab2.png);
	cursor:default;
}
.tablink li.current a:hover b {
	background:url(../images/tab2.png) right top;
}

h2  {
    color:#FFF;
    font:bold 15px Tahoma,Verdana,Arial,Helvetica,sans-serif;
    margin-bottom:5px;
    margin-top:5px;
    margin-left:10px;
    padding:0;
}
h3  {
     color:#1206fe;
    font: 12px Tahoma,Verdana,Arial,Helvetica,sans-serif;
    margin-bottom:0px;
    margin-top:0px;
    margin-left:0px;
    padding:0;
}